# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE and editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local development
.vercel
.netlify
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage

# Misc
*.pem
.eslintcache
.stylelintcache 